<a href="https://colab.research.google.com/github/renegade620/G2M-insight-for-Cab-Investment-firm/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **G2M insight for Cab Investment firm (EDA Analysis)**


## **Introduction**

XYZ is a private firm in US. Due to remarkable growth in the Cab Industry in last few years and multiple key players in the market, it is planning for an investment in Cab industry and as per their Go-to-Market(G2M) strategy they want to understand the market before taking final decision.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Data Exploration**

### **Cab Data**

In [41]:
cab_data = pd.read_csv('https://github.com/renegade620/G2M-insight-for-Cab-Investment-firm/raw/main/Datasets/Cab_Data.csv')
print(cab_data.head(), "\n")
print(cab_data.info(), "\n")
print(cab_data.shape, "\n")
print(cab_data.describe(), "\n")
print(cab_data.isnull().sum(), "\n")
print(cab_data.duplicated().sum())

   Transaction ID  Date of Travel   Company        City  KM Travelled  \
0        10000011           42377  Pink Cab  ATLANTA GA         30.45
1        10000012           42375  Pink Cab  ATLANTA GA         28.62
2        10000013           42371  Pink Cab  ATLANTA GA          9.04
3        10000014           42376  Pink Cab  ATLANTA GA         33.17
4        10000015           42372  Pink Cab  ATLANTA GA          8.73

   Price Charged  Cost of Trip
0         370.95       313.635
1         358.52       334.854
2         125.20        97.632
3         377.40       351.602
4         114.62        97.776

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  359392 non-null  int64
 1   Date of Travel  359392 non-null  int64
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM Travelled    359392 non-null  float64
 5   Price Charged   359392 non-null  float64
 6   Cost of Trip    359392 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 19.2+ MB
None

(359392, 7)

       Transaction ID  Date of Travel   KM Travelled  Price Charged  \
count    3.593920e+05   359392.000000  359392.000000  359392.000000
mean     1.022076e+07    42964.067998      22.567254     423.443311
std      1.268058e+05      307.467197      12.233526     274.378911
min      1.000001e+07    42371.000000       1.900000      15.600000
25%      1.011081e+07    42697.000000      12.000000     206.437500
50%      1.022104e+07    42988.000000      22.440000     386.360000
75%      1.033094e+07    43232.000000      32.960000     583.660000
max      1.044011e+07    43465.000000      48.000000    2048.030000

        Cost of Trip
count  359392.000000
mean      286.190113
std       157.993661
min        19.000000
25%       151.200000
50%       282.480000
75%       413.683200
max       691.200000

Transaction ID    0
Date of Travel    0
Company           0
City              0
KM Travelled      0
Price Charged     0
Cost of Trip      0
dtype: int64

0

### **Customer Data**

In [42]:
customer_data = pd.read_csv('https://github.com/renegade620/G2M-insight-for-Cab-Investment-firm/raw/main/Datasets/Customer_ID.csv')
print(customer_data.head(),"\n")
print(customer_data.info(), "\n")
print(customer_data.shape, "\n")
print(customer_data.describe(), "\n")
print(customer_data.isnull().sum(), "\n")
print(customer_data.duplicated().sum())

   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49171 entries, 0 to 49170
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         49171 non-null  int64
 1   Gender              49171 non-null  object
 2   Age                 49171 non-null  int64
 3   Income (USD/Month)  49171 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None

(49171, 4)

        Customer ID           Age  Income (USD/Month)
count  49171.000000  49171.000000        49171.000000
mean   28398.252283     35.363121        15015.631856
std    17714.137333     12.599066         8002.208253
min        1.000000     18.000000         2000.000000
25%    12654.500000     25.000000         8289.500000
50%    27631.000000     33.000000        14656.000000
75%    43284.500000     42.000000        21035.000000
max    60000.000000     65.000000        35000.000000

Customer ID           0
Gender                0
Age                   0
Income (USD/Month)    0
dtype: int64

0

### **Transaction Data**

In [43]:
transaction_data = pd.read_csv('https://github.com/renegade620/G2M-insight-for-Cab-Investment-firm/raw/main/Datasets/Transaction_ID.csv')
print(transaction_data.head(),"\n")
print(transaction_data.info(), "\n")
print(transaction_data.shape, "\n")
print(transaction_data.isnull().sum(), "\n")
print(transaction_data.duplicated().sum())

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  440098 non-null  int64
 1   Customer ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB
None

(440098, 3)

Transaction ID    0
Customer ID       0
Payment_Mode      0
dtype: int64

0

### **City Data**

In [44]:
city_data = pd.read_csv('https://github.com/renegade620/G2M-insight-for-Cab-Investment-firm/raw/main/Datasets/City.csv')
print(city_data.head(),"\n")
print(city_data.info(), "\n")
print(city_data.shape, "\n")
print(city_data.isnull().sum(), "\n")
print(city_data.duplicated().sum())

             City   Population      Users
0     NEW YORK NY   8,405,837    302,149
1      CHICAGO IL   1,955,130    164,468
2  LOS ANGELES CA   1,595,037    144,132
3        MIAMI FL   1,339,155     17,675
4  SILICON VALLEY   1,177,609     27,247

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        20 non-null     object
 1   Population  20 non-null     object
 2   Users       20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes
None

(20, 3)

City          0
Population    0
Users         0
dtype: int64

0

## **Relationships across the files**

**Cab data** relates with the **transaction data** through the column *Transaction ID*, and with the **city data** through the column *City*.

In [ ]:
cab_data.head()


**Transaction data** relates with **cab data** through the column *Transaction ID* and with the customer data through the column *Customer ID.*

In [ ]:
transaction_data.head()

**City data** relates with the **cab data** through the column *City*

In [ ]:
city_data.head()

The **customer data** relates with the **transaction data** through the column *Customer ID*

In [ ]:
customer_data.head()